*{
    text-align: center;

}

.ticContainer{
    
   max-width: 50%;
   margin:auto;
   display:flex;
   align-content: center;
  
}

.tacContainer{
    position: relative;
    margin:auto;
}



main{
   
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0;
    
}

app-square{
    
    border: 1px transparent;
    height: 200px;
}
